name: Sprint 5 Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 20
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 20

    - name: Update DB connection
      run: sed -i 's/<jdbc_url_dev>/<jdbc_url_prod>/g' src/main/resources/application.properties

    - name: Compile Maven project
      run: mvn clean package

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Database to Azure
      run: |
        sqlcmd -S ${{ secrets.AZURE_SQL_SERVER }} -d ${{ secrets.AZURE_SQL_DB }} \
          -U ${{ secrets.AZURE_SQL_USER }} -P ${{ secrets.AZURE_SQL_PASSWORD }} \
          -i ./db/deploy.sql

    - name: Generate executable with Launch4j
      run: |
        java -jar launch4j/launch4j.jar launch4j/config.xml

    - name: Upload .exe to GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        files: ./target/PizzaTime.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

